.background-blobs {
    position: fixed;
    inset: 0;
    z-index: -1;
    overflow: hidden;
    pointer-events: none;
}

.blob {
    position: absolute;
    width: 40vw;
    height: auto;
    aspect-ratio: 1;
    background: radial-gradient(circle, rgba(138, 92, 245, 0.45), transparent 70%);
    filter: blur(4vw);
    animation: blobMove 20s infinite ease-in-out;
    mix-blend-mode: screen;
}

@media (max-width:700px) {
    .blob {
        width: auto;
        height: 40vh;
        aspect-ratio: 1;
    }
}

.blob1 {
    background: radial-gradient(circle, rgba(122, 82, 214, 0.55), transparent 70%);
    top: -10vw;
    left: -10vw;
    animation-delay: 0s;
}

.blob2 {
    background: radial-gradient(circle, rgba(255, 105, 180, 0.5), transparent 70%);
    bottom: -10vw;
    right: -10vw;
    animation-delay: 1s;
}

.blob3 {
    background: radial-gradient(circle, rgba(0, 200, 255, 0.45), transparent 70%);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-delay: 0.5s;
    animation: blobMove2 10s infinite ease-in-out;
}

@keyframes blobMove {
    0%, 100% {
        transform: translate(0, 0) scale(1);
    }
    33% {
        transform: translate(10vw, -3vh) scale(1.3);
    }
    66% {
        transform: translate(-10vw, 3vh) scale(0.85);
    }
}
@keyframes blobMove2 {
    0%, 100% {
        transform: translate(-50%, -50%) scale(1);
    }
    33% {
        transform: translate(-30%, -30%) scale(1.3);
    }
    66% {
        transform: translate(-60%, -40%) scale(1.45);
    }
}

h2 {
    margin: 0;
}

.home {
  width: 100vw;
  align-items: center;
}