.Typewriter_cursor {
    animation: blink infinite 1s linear;
    padding-left: 0px;
    margin-left: 2px;
    font-weight: 800;
    text-shadow: 0 0 40px rgba(255, 255, 255, 1);
    max-width: 80vw;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.Typewriter {
    padding-right: 0px;
    margin-right: 0px;
    font-weight: 700;
    text-shadow: 0 0 2rem rgba(255, 255, 255, 0.5);
}

.Typewriter_wrapper {
    user-select: none;
    font-weight: 400;
}

@media (max-width: 700px) {
    .Typewriter_wrapper{
        font-size: 1.3rem;
    }
}