.Typewriter_cursor {
    animation: blink infinite 1s linear;
    padding-left: 0px;
    margin-left: 2px;
    font-weight: 1000;
    text-shadow: 0 0 10px rgba(255, 255, 255, 1);
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.Typewriter {
    padding-right: 0px;
    margin-right: 0px;
    font-weight: 700;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.35);
}

.Typewriter_wrapper {
    display: inline-block;
    padding: 15px 20px 15px 20px;
    font-size: xx-large;
    user-select: none;
    font-weight: 400;
}